.container {
    background: var(--gray-700);
    border-radius: 8px;
    padding: 2.5rem;
    
}
.container h2{
    margin-bottom: 1rem;
}
.container h3 {
    color: var(--gray-100);
    margin-bottom: 0.5rem;
    margin-top: 0rem;
}

.container input,textarea{
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 0.75rem;
    width: auto;
    background: var(--gray-900);
    color: var(--gray-300);
    border: 0;
    resize: none;
}
.container form > textarea{
    width:auto;
}
.double{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container input:focus-visible,textarea:focus-visible  {
    outline: 2px solid var(--green-300);
}

.container textarea{
    height: 10rem;
}
.container form{
    display: flex;
    flex-direction: column;

}

.container button { 
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border:0;
    background: var(--green-500);
    color: var(--gray-100);
    font-weight: bold;
    cursor: pointer;
    max-width: 10rem;
    margin-bottom: 2rem;
    

    transition: color 0.2s, background-color 0.2s;
}

.container button:hover {
    background: var(--green-300)
}
.development {
    display: flex;
    flex-direction: column;

}
.subtitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    align-items: center;
}
.subtitle textarea{
    height: 1rem;
    margin: 0 1rem;
    padding: 0.75rem;
    width: 100%;
}
.subtitle button{
    background: red;
    margin:0;
    padding: 0.5rem 0.5rem;
}
.development h5{
    margin:0;
    margin-bottom: 0.5rem;
}
.contentDev{
    width: auto;
}
.subtitle button:hover{
    background: red;
}