.container {
    background: var(--gray-700);
    border-radius: 8px;
    padding: 2.5rem;
    
}
.container div{
    margin-bottom: 1rem;
}
.container h2{
    margin-bottom: 3rem;
}
.container h3 {
    color: var(--gray-100);
    margin-bottom: 1rem;
    margin-top: 0rem;
}
.container button { 
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border:0;
    background: var(--green-500);
    color: var(--gray-100);
    font-weight: bold;
    cursor: pointer;
    /* max-width: 15rem; */
    margin-bottom: 2rem;
    

    transition: color 0.2s, background-color 0.2s;
}

.container button:hover {
    background: var(--green-300)
}
.items{
    display: flex;
    align-items: center;
}
.items input{
    display:flex;
    width: 100%;
    margin:0;
}
.items h5{
    width: 180px;
    margin:0;
    padding:0;
}

.container input {
    border-radius: 8px;
    padding: 0.75rem;
    background: var(--gray-900);
    color: var(--gray-300);
    border: 0;
}

.container input:focus-visible,textarea:focus-visible  {
    outline: 2px solid var(--green-300);
}
.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--gray-300)

}
.content h5{
    margin:0;
}
.contentDev{
    width: auto;
}
.items button { 
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    border:0;
    background: red;
    color: var(--gray-100);
    cursor: pointer;
    margin:0;
    margin-left:1rem;
    

    transition: color 0.2s, background-color 0.5s;
}
.items button:disabled{
    cursor:not-allowed
}

.items button:hover {
    background: red
}
.buttons{
    display: flex;
    justify-content: space-between;
}
